@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


     
            <!--==============================content================================-->
            <section id="content">
                <div class="container_24">
                    @*<div class="box-row-2 wrapper">
                            <div class="grid_6">
                                <div class="box">
                                    <a href="#" class="box-1"><strong>Strongestt</strong></a>
                                </div>
                            </div>
                            <div class="grid_6">
                                <div class="box">
                                    <a href="#" class="box-2"><strong>Stable</strong></a>
                                </div>
                            </div>
                            <div class="grid_6">
                                <div class="box">
                                    <a href="#" class="box-3"><strong>Standards</strong></a>
                                </div>
                            </div>
                            <div class="grid_6">
                                <div class="box">
                                    <a href="#" class="box-4"><strong>Commerce</strong></a>
                                </div>
                            </div>
                        </div>*@
                    <div class="grid_24">


                                    <h2 class="top-6 p2">About me</h2>

                         <p class="p3"> <img src="~/images/selfLg2.png" align="left" style="padding:0  7px 7px 0;" />Through more than 15 years in software development at various levels including engineer, business analyst, project manager, development team manager and business unit director, I’ve gathered many real life experiences, that help me guide organizations to a better structure and processes. Through my career I’ve worked for clients such as Harvard University, Coca Cola, IBM, BMW and many more. </p>
                           <p class="p3"> I’ve worked with and gained insight into the business culture of people and organizations from India, Australia, Singapore, Bulgaria and northern Europe and can help you avoid the pitfalls of offshoring, ask the right questions of your future vendors and intelligently assess what to offshore and what not to. There are many invisible costs to offshoring and you'll be surprised how much you can save, if you keep some of the offshore work closer to your core team's location.</p>

                        <p class="p3">
                           I'd love to manage a project for you and help your organization re-gain productivity in the process. If the following scenarios sound familiar, then <a href="/contact/">send me a line</a> and let's see how we can makes things better for your organization.
                        </p>

                         
                                    <ul >
                                        <li>Victims of success - you've grown and now there are too many people stepping on each other’s toes and adding more developers just doesn’t seem to work anymore</li>
                                        <li>Old school mature – where the organization is so used to doing things the old waterfall way that projects are dragging and dates are being consistently missed</li>
                                        <li>The Product void – where everybody is the product owner and no one is the product owner</li>
                                        <li>Support, what support? – where the development team is also the support team and we need a solution without hiring more people</li>

                                    </ul>


                                    <p class="p3"><br />
                                        I’m confident that I can help your organization do better. <a href="/contact/">Let’s start a conversation.</a>
                                    </p>
                                    <p class="p3"><a href="/Contact/" class="button">Get in touch</a></p>



                          
                            </div>
                            @*<div class="grid_5 prefix_1">
                    <h2 class="p5">Testimonials</h2>
                    <blockquote class="quotes p6">
                        Adipis nullam consequat scelerisque urna, sed sollicitu
                        proin dictum elementum velit. Fusce euismod consequat
                        ante. Lorem ipsum dolor sit amet, consec...”
                        <a href="#" class="color-3">Bradley Grosh, manager</a>
                    </blockquote>
                    <blockquote class="quotes">
                        Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque cursus leo vel metus. Nulla facilisi. Aenean nec eros, ves
                        tibulum ante ipsum primis in faucibus orci luctus et ultrices сurae; Suspendisse sollicitudin...”
                        <a href="#" class="color-3">Jessica Priston, production director</a>
                    </blockquote>
                </div>*@
                        </div>
                       
            </section>

