
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="container container_24">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="top-6 p2">Services Overview</h2>


        </div>
      <div class="col-sm-6 ">
    
</div>
    </div>
    <div class="row top-3">
        <div class="col-sm-6">

            <img src="/images/page-3-img-6.png" alt="" class="img-indent-2">
            <div class="extra-wrap">
                <a href="/Contact/" class="color-1">Project management</a>
                <p class="top-4 font-13">
                    With over 15 years of expertise managing remote teams in US, India, Bulgaria, northern Europe and Singapore, I’m confident I can handle any software development/design project you may have. I’m a full stack coder in .NET /C# / SQL /jQuery and CSS. A Photoshop and design enthusiast, my attention to detail is down to the pixel. Being soft on the person and hard on the problem is my motto and it has helped me succeed in delivering many software projects on time and within budget.
                    <br />
                </p>
            </div>
        </div>
        <div class="col-sm-6">

            <img src="/images/page-3-img-1.png" alt="" class="img-indent-2">
            <div class="extra-wrap">
                <a href="/Contact/" class="color-1">Process assessments</a>
                <p class="top-4 font-13">
                    I talk to you and your key folks and produce a process map of the current state you’re in, while identifying key bottle necks and inefficiencies. We discuss your talent pool – you’ll be surprised, how effective it sometimes is, if you just shift your talent pool around. Finally, I'll present you with my suggestions on how you can re-gain productivity and efficiency. I am not going to send you 100 pages of diagrams and verbose elaboration on what you already know. My advice is succinct and to the point.
                </p>
            </div>
        </div>
    </div>
    <div class="row top-3">
        <div class="col-sm-6">

            <img src="/images/page-3-img-5.png" alt="" class="img-indent-2">
            <div class="extra-wrap">
                <a href="/Contact/" class="color-1">Team Structure</a>
                <p class="top-4 font-13">
                    How effective is your team? Do you have your talent pool deployed the right way? Do you have too many QA people, but not enough BAs. Maybe you recently merged or got bought by another company and would like to see how you can optimize your combined strength. I can work with you to find the best structure that fits your organization's culture, goals and capabilities, while factoring in the maturity level and talent pool that you have.
                </p>
            </div>
        </div>
        <div class="col-sm-6">

            <img src="/images/page-3-img-blank.png" alt="" class="img-indent-2">
            <div class="extra-wrap">
                <a href="/Contact/" class="color-1">Software Development</a>
                <p class="top-4 font-13">
                    As a full stack software engineer, I would love to build your next idea for you. My experience ranges from building large enterprise ecommerce and content management systems managing millions of records, to small mom and pop shops and even a five person startup. My technology stack is wide ranging, with C#/.NET EF/MVC/SQL & jQuery/CSS/Bootstrap being the primary technologies I employed. A selected list of the technologies I've used are listed below.
                </p>
            </div>
        </div>
    </div>
 
</div>
  


            <!--==============================content================================-->
            <section id="content">
                <div class="container_24">
                   
                    <div class="grid_24 line pad-3"></div>
                    <div class="grid_14">
                        <h2 class="p5">Industry verticals</h2>
                        <div class="wrap spec_box">
                            @*<img src="/images/page-3-img-8.jpg" alt="" class="img-indent-3">*@
                            <div class="extra-wrap">
                                <p class="p6">
                                    <a href="/Contact/" class="color-1">
                                        Healthcare
                                    </a>
                                </p>
                                <p>From Medicare to Medicaid and Commercial Insurance to Hospital EMR and Clinical Research, I've worked with a wide variety or healthcare organizations. The constant change and tight regulatory framework of the industry require knowledge of HIPPA, CFR Part 11 and other frameworks, which I've gathered through my career and can hit the ground running on most healthcare related projects.
                            </div>
                        </div>
                        <div class="wrap top-7 spec_box">
                            @*<img src="/images/page-3-img-9.jpg" alt="" class="img-indent-3">*@
                            <div class="extra-wrap">
                                <p class="p6"><a href="/Contact/" class="color-1">Finance</a></p>
                                <p>
                                    Finance and Financial modeling is a hobby of mine and while I don't have a Series 7 license, I regularly read 10Ks and love examining companies Income Statement, Cash flows and Balance Sheets. I'm a student of valuation and am very familiar with both relative and intrinsic valuation methods and financial models including WACC calculations, terminal value and growth projections. Finance projects are amongst my favorite both from project management and software development perspective.
                                </p>
                            </div>
                        </div>
                        <div class="wrap top-7 spec_box">
                            @*<img src="/images/page-3-img-9.jpg" alt="" class="img-indent-3">*@
                            <div class="extra-wrap">
                                <p class="p6"><a href="/Contact/" class="color-1">Digital Solutions</a></p>
                                <p>
                                    Building a creative application for your business is what I enjoy the most, whether I build the software or manage the project for you, you can be rest assured that you will get someone who is committed to your success. Every business is unique and I listen to you to gain a better perspective into your vision, so that I can build the right platform to drive your success.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid_9 prefix_1">
                        <h2 class="p5">Over 15 years of experience</h2>
                        <ul class="list-1">
                            <li> Scrum </li>
                            <li> Estimation techniques </li>
                            <li> Kanban </li>
                            <li> Risk & Mitigation </li>
                            <li> Budget & Cost Management </li>
                            <li> Schedule & Staffing Planning </li>
                            <li> Offshore team management </li>
                            <li> Process assessments </li>
                            <li> SEO / Creative content  </li>
                            <li> EMR systems </li>
                            <li> ASP.NET C# </li>
                            <li> SQL Server </li>
                            <li> JSON / Rest </li>
                            <li> JavaScript / jQuery / Ajax </li>
                            <li> CSS/Bootstrap </li>
                            <li> Business Intelligence </li>
                            <li> SSAS/SSIS/SSRS </li>
                            <li> Cloud / Amazon AWS </li>
                            <li> ColdFusion </li>
                            <li> Photoshop / Illustrator / Dreamweaver </li>
                            <li> Cloud / Amazon AWS </li>


                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>

